/* body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*Horizontal Menu*/

/* #horizontal-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#horizontal-menu li {
  float: left;
}

#horizontal-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#horizontal-menu li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
 */

.navbar {
  overflow: hidden;
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: aquamarine;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: bisque;
  padding: 14px 16px;
  background-color: brown;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {

  background-color: aquamarine;
}

.dropdown-content{

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  float: none;
  width: 33.33%;
  padding: 10px;
  background-color: #333;
  height: 250px;

}

.column a {

  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.column a:hover {
  background-color: red
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

#vertical-menu li a {

  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

#vertical-menu li a.active {
  background-color: aqua;
  color: black;
}

#vertical-menu li a:hover:not(.active) {
  background-color: blue;
  color: black;
}