nav {
    overflow: hidden;
    background-color: #06206a;
    position: relative;
    max-width: 400px;
}

nav #myLinks{
    display: none;
}

nav a, button{
    color: aquamarine;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    display: absolute;
    float: right;
}

nav button .icon{

    background-color:  #5e81e2;
    display: block;
    position: absolute;
    margin-top: 10px;
    top: 0;
    right: 10px;
}

nav a:hover{
    background-color: #ddd;
    color: black;
}